<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: 21_BasicWhite (13.2)</string>
	<string>M14.0-7039.0.94-4</string>
	<string>G-r1400-14A169</string>
	<string>G-r1400-14A170</string>
</array>
</plist>
